[submodule "BlockBlast"]
	path = BlockBlast
	url = https://github.com/reunbozdo/BlockBlast
[submodule "javascript-tetris"]
	path = javascript-tetris
	url = https://github.com/jakesgordon/javascript-tetris.git
[submodule "EmojiCut"]
	path = EmojiCut
	url = https://github.com/kahwoo/EmojiCut
[submodule "JumpMan"]
	path = JumpMan
	url = https://github.com/tsenterd/JumpMan
[submodule "2048"]
	path = 2048
	url = https://github.com/elryan7/2048
[submodule "Space-Invaders"]
	path = Space-Invaders
	url = https://github.com/jojovavasasa/Space-Invaders
[submodule "snake"]
	path = snake
	url = https://github.com/nicolaou-dev/snake
[submodule "ping-pong"]
	path = ping-pong
	url = https://github.com/jojovavasasa/ping-pong
[submodule "mario"]
	path = mario
	url = https://github.com/jojovavasasa/mario
[submodule "slow-roads"]
	path = slow-roads
	url = https://github.com/TheGreatMaximus98/slow-roads
[submodule "polytrack"]
	path = polytrack
	url = https://github.com/Joe-The-Chicken/polytrack
[submodule "rocket-goal"]
	path = rocket-goal
	url = https://github.com/MartinMMCyt/rocket-goal
[submodule "Happy-Wheels-Source-Code"]
	path = Happy-Wheels-Source-Code
	url = https://github.com/MrSnailman/Happy-Wheels-Source-Code
[submodule "gladihoppers"]
	path = gladihoppers
	url = https://github.com/Hutch843/gladihoppers
[submodule "GeometryDash"]
	path = GeometryDash
	url = https://github.com/willmil11/GeometryDash
[submodule "crossy-road"]
	path = crossy-road
	url = https://github.com/GeekBoySupreme/crossy-road
[submodule "Bubble-Shooter"]
	path = Bubble-Shooter
	url = https://github.com/archhere/Bubble-Shooter
[submodule "simple-chess-ai"]
	path = simple-chess-ai
	url = https://github.com/lhartikk/simple-chess-ai
[submodule "ragdoll-hit"]
	path = ragdoll-hit
	url = https://github.com/Collasperz/ragdoll-hit
[submodule "Archers-Ragdoll-Physic"]
	path = Archers-Ragdoll-Physic
	url = https://github.com/NeplinGameStudio/Archers-Ragdoll-Physic
[submodule "physicsRus"]
	path = physicsRus
	url = https://github.com/juhl/physicsRus
[submodule "CaptchaWare"]
	path = CaptchaWare
	url = https://github.com/jojovavasasa/CaptchaWare
